html, body {
  font-family: 'Barlow Semi Condensed',sans-serif;
  margin: 0;
  height: 100%;
}

* {
 box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover {
  color: darkgrey;
}

main {
  padding: 16px;
  max-width: 1450px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.hour, .pause {
  margin: 8px 4px;
}

.hour {
  background: rgba(255, 236, 160, 1);
  padding: 16px;
  min-height: 200px;
}

.pause {
  background: rgba(160, 236, 255, 1);
  min-height: 32px;
}
.options > * {
  margin: 2px 0;
}
