nav {
  font-size: 3vw;
}


.title {
  font-size: 1.4em;
}
button {
  font-size: 1em;
}

section {
  padding-bottom: 32px;
  width: auto;
  margin: 0 16px;
}

/* Modal Content */
#selectionModal > div {
  width: 70%;
  font-size: 4vw;
}
select {
  font-size: 3vw;
  margin: 4px;
}

input {
  margin: 4px;
  font-size: 3vw;
}

#closeModal {
  font-size: 10vw;
}

.hour > p {
  font-size: 2em;
}

.pause {
  height: 48px;
}

.pause, .hour {
  margin: 8px 0;
  width: 280px;
}

footer {
  font-size: 24px;
  height: 160px;
}

main {
  grid-template-columns: repeat(3, 1fr) ;
}


@media (max-width: 950px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
  .pause, .hour {
    margin: 8px 32px;
  }
  .title {
    font-size: 1em;
  }
  button {
    font-size: 1em;
  }
  select, input {
    font-size: 1em;
    margin: 4px;
  }
}

#loading img, #messageModalContent {
  width: 80%;
}
