/* CSS door Joeri Geuzinge, minified door CSSPortal */
main {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	margin: auto;
	max-width: 1450px;
	padding: 16px;
}

.hour,.pause {
	margin: 8px 4px;
}

.hour {
	background: #FFECA0;
	padding: 16px;
	min-height: 240px;
}

.hour > p {
	margin: 0;
	margin-bottom: 8px;
}

.pause {
	background: #a0ecff;
	min-height: 32px;
}

.select {
	display: block;
	margin: 16px auto;
	max-width: 1280px;
	text-align: center;
	border-radius: 0;
}

.select select {
	font-size: 1.5em;
}

button.close {
	background: inherit;
	border: #000 solid 1px;
	border-radius: 0;
	color: #000;
	float: right;
	height: 2em;
	width: 2em;
}

.input select,.input button,.input input {
	width: 100%;
}

section > p {
	font-size: 1.5em;
	margin: 0;
	text-align: center;
}

div p {
	font-size: 1em;
}

.menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.list {
	grid-template-columns: 1fr 1fr;
	cursor: pointer;
}

.afspraak {
	background: #A0FFA0;
}

.afspraak span {
	overflow: hidden;
	max-width: 95ch;
}

.afwezig {
	background: #FFA0A0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.note {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

@media (max-width: 1500px) {
	main {
		grid-template-columns: repeat(4,1fr);
	}
	.hour {
		height: 300px;
	}
}

@media (max-width: 1300px) {
	main {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1050px) {
	main {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 725px) {
	main {
		grid-template-columns: repeat(1, 1fr);
	}
}
