/* CSS door Joeri Geuzinge, minified door CSSPortal */
html,body {
	font-family: 'Barlow Semi Condensed',sans-serif;
	height: 100%;
	margin: 0;
	font-size: 16px;
}

* {
	box-sizing: border-box;
	/*idk waarom en hoe maar dit fixt problemen op Chrome for Android*/
	max-width: 999999px;
	max-height: 999999px;
}

a {
	color: inherit;
}

a:hover {
	color: darkgrey;
}

nav {
	align-items: center;
	background: #000;
	color: #fff;
	display: flex;
	padding: 4px 16px;
}

nav * {
	display: inline-block;
	margin: 8px 32px;
}

nav img {
	height: 2em;
}

main {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	margin: auto;
	max-width: 1450px;
	padding: 16px;
}

.hour,.pause {
	margin: 8px 4px;
}

.hour {
	background: #FFECA0;
	padding: 16px;
	min-height: 240px;
}

.hour > p {
	margin: 0;
	margin-bottom: 8px;
}

.pause {
	background: #a0ecff;
	min-height: 32px;
}

select,input,button {
	background: #f2f1f0;
	border: 1px solid #ccc;
	cursor: pointer;
	margin: 2px;
	padding: 4px;
	resize: vertical;
}

.select {
	display: block;
	margin: 16px auto;
	max-width: 1280px;
	text-align: center;
	border-radius: 0;
}

.select select {
	font-size: 1.5em;
}

button.close {
	background: inherit;
	border: #000 solid 1px;
	border-radius: 0;
	color: #000;
	float: right;
	height: 2em;
	width: 2em;
}

td:nth-child(even) {
	padding-left: 24px;
}

.input select,.input tr,.input td {
	padding-left: 0;
}

.input select,.input button,.input input {
	border-radius: 0;
	margin: 4px;
	width: 100%;
}

section > p {
	font-size: 1.5em;
	margin: 0;
	text-align: center;
}

div p {
	font-size: 1em;
}

footer {
	align-items: center;
	background: #aaa;
	bottom: 0;
	display: flex;
	height: 100px;
	justify-content: center;
	width: 100%;
}
/* loading css */
/* The Modal (background) */
#loading, #messageModal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
/* Modal Content */
#loading > div {
	margin: auto;
	text-align: center;
}

#loading img {
	width: 25%;
}

.fade-in {
	animation: animateFadeIn 0.2s;
}

@keyframes animateFadeIn {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
		display: none;
	}
}

.fade-out {
	animation: animateFadeOut 0.2s;
}

@keyframes animateFadeOut {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(0);
		display: none;
	}
}

#messageModalContent {
	margin: 0 auto 32px auto;
	width: 40%;
	background: white;
	border-radius: 24px;
	padding: 32px;
}

.menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.list {
	grid-template-columns: 1fr 1fr;
	cursor: pointer;
}

.afspraak {
	background: #A0FFA0;
}

.afspraak span {
	overflow: hidden;
	max-width: 95ch;
}

.afwezig {
	background: #FFA0A0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.note {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

@media (max-width: 1300px) {
	main {
		grid-template-columns: repeat(4,1fr);
	}
}

@media (max-width: 950px) {
	main {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 700px) {
	main {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 450px) {
	main {
		grid-template-columns: repeat(1, 1fr);
	}
}
