/* CSS door Joeri Geuzinge */
/*
1.0 MAIN css
	1.1 main
	1.2 dag css
2.0 SELECT css
	2.1 select
3.0 MEDIA QUERY css
	3.1 4 uur grid
	3.2 3 uur grid
	3.3 2 uur grid
	3.4 1 uur grid
*/

/* 1.0 */
/* 1.1 */

main {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	margin: auto;
	max-width: 1460px;
	padding: 16px;
	flex: 1 1 auto;
}

.noP p {
	display: none;
}

/* 1.2 */

section > p {
	font-size: 1.5em;
	margin: 0;
	text-align: center;
}

.uur,.pauze {
	margin: 16px 8px;
	box-shadow: 0px 0px 2px 2px rgba(50, 50, 50, 0.5);
}

.uur:hover,.pauze:hover,
.uur:focus-within,.pauze:focus-within {
  box-shadow: 0px 0px 6px 3px rgba(50, 50, 50, 0.5);
}

.uur {
	background: #FFECA0;
	padding: 16px;
	min-height: 250px;
}

.uur > p {
	margin: 0;
	margin-bottom: 8px;
}

.pauze {
	background: #a0ecff;
	min-height: 32px;
}

div p {
	font-size: 1em;
}

.menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.list {
	grid-template-columns: 1fr 1fr;
	cursor: pointer;
}

.afspraak {
	background: #A0FFA0;
}

.afspraak span {
	overflow: hidden;
	max-width: 95ch;
}

.afspraak button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.afspraak img {
	height: 1em;
}

.L1 {
	word-break: keep-all;
}

.afwezig {
	background: #FFA0A0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.note, .projectCode {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

/* 2.0 */
/* 2.1 */

.select {
	display: block;
	margin: 16px auto;
	max-width: 1280px;
	border-radius: 0;
}

.select input[type=button] {
	min-width: 100px;
	text-align: center;
	width: auto;
}

.select .drop {
	width: auto;
}

button.SVGbutton {
	background: inherit;
	border: #000 solid 1px;
	border-radius: 0;
	color: #000;
	float: right;
	height: 2em;
	width: 2em;
}

.input select,.input button,.input input {
	width: 100%;
}

/* 3.0 */
/* 3.1 */

@media (max-width: 1500px) {
	main {
		grid-template-columns: repeat(4,1fr);
	}
	.uur {
		height: 300px;
	}
}

/* 3.2 */

@media (max-width: 1300px) {
	main {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* 3.3 */

@media (max-width: 1100px) {
	main {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* 3.4 */

@media (max-width: 750px) {
	main {
		grid-template-columns: repeat(1, 1fr);
	}
}
